<tbody>
    <% book.book_comments.each do |book_comment| %>
        <tr id="comment-<%= book_comment.id %>">							
            <td>
                <%= attachment_image_tag(book_comment.user, :profile_image, size: '50x50', fallback: "no-image-mini.jpg") %><br>
                <%= book_comment.user.name %>
            </td>
            <td><%= book_comment.comment %></td>
            <% if book_comment.user == current_user %>
                <td><%= link_to "Destroy", book_book_comments_path(book_comment.book, book_comment), method: :delete, remote: true, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger" %></td>
            <% end %>
        <tr>
    <% end %>
</tbody>