
<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: @user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: @books %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table table-hover table-inverse">
			<tbody>
				<tr id="post_area_<%= @book.id %>">
					<%= render 'books/post', book: @book %>
					<% if @user.id == current_user.id %>
						<td><%= link_to "Edit",edit_book_path(@book), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
						<td><%= link_to "Destroy",@book, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
					<% end %>
				</tr>
			</tbody>
		</table>
		<%= render 'book_comments/comments_area' %>
		<%= form_with(model: [@book, @book_comment], remote: true) do |f| %>
			<%= f.label "comment" %>
			<%= f.text_area :comment %>
			<%= f.submit "送信" %>
		<% end %>
	</div>
</div>

